@import "../var/index";

[data-theme="#{$prefix}-dark"] {
  /* ---> normalize.scss */
  .body {
    color: $w-primary;
    background-color: $body-background-b;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $w-title;
  }

  a[disabled] {
    color: $w-disable;
  }

  .caption {
    color: $w-second;
  }

  /* ---> util-class.scss */
  .color-title {
    color: $w-title;
  }

  .color-text {
    color: $w-primary
  }

  .color-second {
    color: $w-second
  }

  .color-disabled {
    color: $w-disable;
  }

  .border {
    border: 1px solid $w-border;
  }

  .m78-stress {
    text-shadow: $stress-shadow-w;
  }

  .m78-dot {
    background-color: $w-disable;
  }

  .m78-triangle {
    border-left: 5px solid $w-second;
  }

  .circle-img {
    border: 1px solid $w-border;
  }

  .border {
    border: 1px solid $w-border;
  }
}
